
!dist/.gitignore
dist/*

!shared/*/compiled/.gitkeep
shared/*/compiled/*.o
shared/*/*.h
shared/*/*.lib
shared/shared.h
shared/shared.lib

!windows/*/compiled/.gitkeep
windows/*/compiled/*.o
windows/*/*.h
windows/*/*.lib
windows/yuno.h
windows/yuno.lib
windows/yuno.dll
windows/yuno.def
windows/yuno.exp
windows/yuno.dll.lib

!linux/*/compiled/.gitkeep
linux/*/compiled/*.o
linux/*/*.h
linux/*/*.lib
linux/yuno.h
linux/yuno.lib
linux/yuno.dll

!test/bin/.gitkeep
test/bin/*
!test/*/compiled/.gitkeep
test/*/compiled/*.o
test/*/*.lib
